<nav class="nav nav-borders column-gap-4">
    <a class="nav-link ms-0 active" href="#">My profile</a>
    <a class="nav-link ms-0" href="/credential?token={{user.token}}">Credential</a>
</nav>
<div class="link-effect-container">
    <a href="http://localhost:21461?token={{user.token}}" class="link-effect"><span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span class="title">Play game</span>
        <div class="liquid"></div>
    </a>
</div>
<div class="container">
    <h1 class="mt-5 mb-4">Quản lí profile</h1>
    <div class="row column-gap-3">
        <div class="card mb-4 col-md-4">
            <div class="card-body text-center">
                <img src="{{user.avatar}}" class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">Username: {{user.username}}</h5>
                <p class="text-muted mb-1">A lazy player who not left any infomation here.</p>
                <p class="text-muted mb-4">No address to display</p>
            </div>
        </div>
        <div class="card mb-4 col-md-7">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.fullname}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Nickname</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.nickname}}</p>
                    </div>
                </div>
                <hr>
                <div class="change text-center mt-5">
                    <a href="/update-profile?token={{user.token}}" class="btn btn-info text-white">Update profile</a>
                </div>
            </div>
        </div>
    </div>
</div>